.container
  padding: 24px

.form-check
    height: 72px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center 

.form-check-input
    width: 21.47px
    height: 21.47px

#contentBoleto 
  padding: 0
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  background-color: #f1f1f1

#contentCard 
  padding: 0
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  background-color: #f1f1f1


.badge
  background-color: rgba(0, 149, 255, 0.16)
  color: black

.title
  display: flex
  justify-content: space-between

fa-icon
  margin-right: 10px