<div class="container">
    <div class="form-check">
        <span>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                (click)="paymentChoice('card')" style="cursor: pointer;">
            <label class="form-check-label" for="flexRadioDefault1" style="margin-left: 9.26px;">
                Cartão de Crédito
            </label>
        </span>
        <div class="cards">
            <fa-icon [icon]="faCreditCard" size="2x"></fa-icon>
            <fa-icon [icon]="faCreditCard" size="2x"></fa-icon>
            <fa-icon [icon]="faCreditCard" size="2x"></fa-icon>
            <fa-icon [icon]="faCreditCard" size="2x"></fa-icon>
            <fa-icon [icon]="faCreditCard" size="2x"></fa-icon>
        </div>
    </div>
    <div id="contentCard">
        <form *ngIf="paymentForm" [formGroup]="paymentForm">
            <div class="control-form">
                <input type="text" class="form-control" placeholder="Ex: Gabrielle Marques Souza"
                    formControlName="name">
                <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.name.touched && !paymentForm.controls.name.valid}">Nome no
                    Cartão</label>
            </div>
            <div class="control-form has-feedback">
                <input type="text" class="form-control" placeholder="Número do Cartão"
                    placeholder="&#xf09d; Número do Cartão" style="font-family:Arial, FontAwesome"
                    formControlName="cardNumber">
                <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.cardNumber.touched && !paymentForm.controls.cardNumber.valid}">Dados do Cartão</label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="MM/AA" formControlName="validity">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.validity.touched && !paymentForm.controls.validity.valid}">Validade</label>
                    </div>
                </div>
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="..." formControlName="cardCode">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.cardCode.touched && !paymentForm.controls.cardCode.valid}">CCV</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="form-check">
        <span>
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                (click)="paymentChoice('boleto')" style="cursor: pointer;">
            <label class="form-check-label" for="flexRadioDefault2" style="margin-left: 9.26px;">
                Boleto Bancário <span class="badge rounded-pill">Apenas para Anual</span>
            </label>
        </span>
        <div class="cards">
            <fa-icon [icon]="faBarcode" size="2x"></fa-icon>
        </div>
    </div>
    <div id="contentBoleto">
        <form *ngIf="paymentForm" [formGroup]="paymentForm">
            <div class="control-form">
                <input type="text" class="form-control" placeholder="Ex: Gabrielle Marques Souza"
                    formControlName="name">
                <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.name.touched && !paymentForm.controls.name.valid}">Nome Completo</label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="CPF/CNPJ" formControlName="cpfOrCnpj">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.cpfOrCnpj.touched && !paymentForm.controls.cpfOrCnpj.valid}">CPF/CNPJ</label>
                    </div>
                </div>
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="(88) 8888-8888" formControlName="phone">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.phone.touched && !paymentForm.controls.phone.valid}">Telefone</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="XXXXXX-XXX" formControlName="cep">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.cep.touched && !paymentForm.controls.cep.valid}">CEP</label>
                    </div>
                </div>
                <div class="col" style="display: flex; align-items:center; margin-top: 8px;">
                    <a href="">Não sei o meu cep</a>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="control-form ">
                        <input type="text" class="form-control" placeholder="Ex: Av. Anderson Magalhães Teixeira"
                            formControlName="address">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.address.touched && !paymentForm.controls.address.valid}">Rua / Avenida</label>
                    </div>
                </div>
                <div class="col control-form ">
                    <input type="text" class="form-control" placeholder="N" formControlName="addressNumber">
                    <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.addressNumber.touched && !paymentForm.controls.addressNumber.valid}">Número</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="Ex: Centro" formControlName="neighborhood">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.neighborhood.touched && !paymentForm.controls.neighborhood.valid}">Bairro</label>
                    </div>
                </div>
                <div class="col control-form ">
                    <input type="text" class="form-control" placeholder="Bloco, Apartamento"
                        formControlName="complement">
                    <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.complement.touched && !paymentForm.controls.complement.valid}">Complemento</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="control-form">
                        <input type="text" class="form-control" placeholder="Cidade" formControlName="city">
                        <label class="form-label" [ngClass]="{'text-danger': paymentForm.controls.city.touched && !paymentForm.controls.city.valid}">Cidade</label>
                    </div>
                </div>
                <div class="col control-form ">
                    <select class="form-select" formControlName="state">
                        <label class="form-label">Estado</label>
                        <option selected>UF</option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="DF">DF</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="RR">RR</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>