.container

.form-check
    height: 72px
    display: flex
    justify-content: flex-start
    align-items: center 

.form-check-input
    width: 21.47px
    height: 21.47px

#contentBoleto 
  padding: 0
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  background-color: #f1f1f1

#contentCard 
  padding: 0
  max-height: 0
  overflow: hidden
  transition: max-height 0.2s ease-out
  background-color: #f1f1f1


.badge
    background-color: #0095FF
    color: black