<div class="wrapper">
    <div class="page">
        <div class="logo">
            <img src="../../assets/img/trakto-logo-removebg-preview.png" alt="" style="width: 45px; height: 45px;">
        </div>
        <div class="message">
            <h1 class="mb-3">{{customer.name}}, aproveite o Premium.</h1>
            <h4 class="mb-5">Tenha acesso ao nosso banco de imagens, templates, ilustrações e remoções de fundo de forma ilimitada.</h4>
            <button type="button" class="btn btn-light">Começar agora <fa-icon [icon]="faAngleRight"></fa-icon></button>
        </div>
    </div>
    <div class="carousel">
    </div>
</div>