<div class="container">
    <div class="title">
        <h2 style="margin-bottom: 0; font-weight: 800; font-size: 16px;">Resumo da Compra</h2>
        <button class="btn btn-primary" type="button"
            style="display: flex;background-color: #E4EBFB; border: #E4EBFB; color: black;align-items: center">
            <h3 style="margin-right: 10px; margin-bottom: 0;">Inserir Cupom</h3>
            <fa-icon [icon]="faGift"></fa-icon>
        </button>
    </div>
    <div class="project">
        <div class="projectSelect">
            <img style="width: 53px; height: 53px; margin-right: 16px;"
                src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.6435-9/51291870_578876865857649_8257876385285013504_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=5VR3VLTDuOYAX_NFWDJ&_nc_ht=scontent.fopo2-1.fna&oh=5a7bd77fe2483aacaf215e79542aa1fb&oe=616EA017"
                alt="">
            <span>
                <h3 style="font-weight: 800; font-size: 16px;">Plano Pro</h3>
                <h4 style="color:#7183A6;">Renovado anualmente</h4>
            </span>
        </div>

        <h3 style="margin-right: 10px;">R$ 25,50</h3>
    </div>

    <div class="line">
        <span class="fake-corner-left"></span>
        <hr />
        <span class="fake-corner-right"></span>
    </div>

    <div class="summary">
        <select class="form-select" [(ngModel)]="typeCharge" style="background-color: #F5F7FB; border: #F5F7FB;">
            <option value="monthly" *ngIf="paymentChoice !== 'boleto'">Mensal</option>
            <option value="yearly">Anual</option>
        </select>
        <div class="value">
            <span style="margin-right: 5px;">R$</span>
            <h1>{{typeCharge === 'monthly' ? '25,50' : '150,00'}}</h1>
            <p>/ Mês</p>
        </div>

    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="termsUse">
        <label class="form-check-label">Concordar com os <a href="">Termos de Uso</a>.</label>
    </div>
</div>

<div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" style="padding: 16px; background-color: #1DC763; border: #1DC763;" (click)="submit()"
        [disabled]="!formValid || !termsUse">Assinar (R$
        25,50)</button>
</div>

<p class="text-center" style="margin-top: 15px; font-size: 14px; color:#7183A6;">
    <fa-icon [icon]="faLock" style="margin-right: 10px; color:#0095FF;"></fa-icon>Pagamento 100% Seguro
</p>