<div class="container">
    <div class="title">
        <h2>Resumo da Compra</h2>
        <h3>Inserir Cupom<fa-icon [icon]="faGift"></fa-icon></h3>
    </div>
    <div class="project">
        <div class="projectSelect">
            <img style="width: 53px; height: 53px; margin-right: 16px;"
            src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.6435-9/51291870_578876865857649_8257876385285013504_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=5VR3VLTDuOYAX_NFWDJ&_nc_ht=scontent.fopo2-1.fna&oh=5a7bd77fe2483aacaf215e79542aa1fb&oe=616EA017"
            alt="">
        <span>
            <h3>Plano Pro</h3>
            <h4>Renovado anualmente</h4>
        </span>
        </div>

        <h3>R$ 25,50</h3>
    </div>

    <hr />

    <div class="summary">
        <select class="form-select" aria-label="Default select example">
            <option selected>Mensal</option>
            <option value="1">Anual</option>
        </select>
        <div class="value">
            <span>R$</span>
            <h1>25,50</h1>
            <p>/ Mês</p>
        </div>

    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Concordar com os <a href="">Termos de Uso</a></label>
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Assinar (R$ 25,50)</button>
    </div>

    <p class="text-center" style="margin-top: 15px;"><fa-icon [icon]="faLock"></fa-icon>Pagamento 100% Seguro</p>
</div>